table {
border: 3px solid #000;

    td {
        color: #000;
        background-color: #fff;
        border-color: #000;
    }
    
    td:nth-child(even) {
        background-color: rgb(202, 160, 160);
        color: #fff;
    }
}